In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import warnings

In [2]:
df = pd.DataFrame({'col_a': sorted(list('qwertyuiopasdfghjklzxcvbnm')* 7)})

In [3]:
X_train, X_test = train_test_split(df, test_size=0.3, random_state=0)

In [4]:
## Make it to where no a, b, c, or d are present in the training data,
## but we know they are in the testing data
warnings.filterwarnings("ignore")
X_train.loc[X_train['col_a'].isin(['a','b', 'c', 'd']),'col_a'] = 'e'
warnings.filterwarnings("default")

In [5]:
def unseen_data_dict(
    X
    ,X_0:list
    ,col:str):
    """
    """
    # Identify unique values of X
    unique_X_set = set(X[col].unique())
    unique_X_list = sorted(list(unique_X_set))
    # Identify unique values in each df in X_0
    unique_X0_list =  unique_values_list(X_0,col)
    # Identify which values in X_0 are not in X
    unseen_values = set(unique_X0_list).difference(unique_X_set)
    # Create a dictionary mapping of all unique values in X to a float value
    mapping_dict = {item: float(mapping) for mapping, item in enumerate(unique_X_list)}
    # Create a variable with the value of max(mapping_dict.values()) + 1
    unseen_value = max(mapping_dict.values()) + 1
    # Add each unseen value in X_0 to the mapping dictionary, but assign the value of the defined variable instead of the floating counter
    unseen_map = {item: unseen_value for item in unseen_values}
    mapping_dict.update(unseen_map)
    
    return mapping_dict


def unique_values_list(X_0:list,col:str):
    unique_X0_list = []
    for df in X_0:
        unique_X0_list += list(set(df[col].unique()))
    unique_X0_list = list(unique_X0_list)

    return unique_X0_list


def unseen_data_mapper(
    X
    ,mapping_dict
    ,X_0:list
    ,col:str
    ,suffix:str='_enc'):
    """
    """
    warnings.filterwarnings("ignore")
    df_list = X_0+[X]
    for df in df_list:
        df[col+suffix] = df[col].map(mapping_dict)
    warnings.filterwarnings("default")

In [6]:
X_test.head()

    col_a
94      n
18      c
33      e
98      o
181     z

In [7]:
unseen_mapping = unseen_data_dict(X=X_train, X_0=[X_test], col='col_a')

In [8]:
unseen_data_mapper(X_train,X_0=[X_test],col='col_a', mapping_dict=unseen_mapping)

In [9]:
X_test.head()

    col_a  col_a_enc
94      n        9.0
18      c       22.0
33      e        0.0
98      o       10.0
181     z       21.0